<% include footerHeader/header.ejs %>
<img src='/images/logo.png'>
<form action="/" method="post" align='center' class='form-ctn'>
  <div class='form-group'>
    <input class='form-control' type="text" name="data[name]" placeholder="姓名" required>
  </div>
  <div class='form-group'>
    <input class='form-control' type="email" name="data[email]" placeholder="邮箱" required>
  </div>
  <div class='form-group'>
    <input class='form-control' type="text" name="data[company]" placeholder="公司" required>
  </div>
  <div class='btn-ctn form-group'>
    <button class='btn' type="submit">提交信息</button>
  </div>
</form>
<% include footerHeader/footer.ejs %>